.newinstance-container.inner-container.small-container
    .title-page
      h1=t('instance.new.contenttitle')

    form.form(action="/instances", method="post", role="form", novalidate, autovalidate, autosubmit)
      ul.form-errors

      .form-group
        label= t('instance.form.url.label')
        .input-group
          input.form-control(type='text', name='username', tabindex=1, validate='required username', autofocus)
          span.error.username-unavailable.hide URL is not available
          span.input-group-addon= instanceDomain

      .form-group
        label= t('instance.form.title.label')
        input.form-control(type='text', name='title', tabindex=2, placeholder=t('instance.form.title.placeholder'), validate='required')

      .form-group
        label= t('instance.form.summary.label')
        textarea.form-control(name='summary', tabindex=3, placeholder=t('instance.form.summary.placeholder'), validate='required')

      .form-group
        label= t('instance.form.image.label')
        input.form-control(type='text', name='imageUrl', tabindex=4, placeholder=t('instance.form.image.placeholder'), validate='url')

      .form-group: button.btn.btn-block.btn-primary.btn-lg(tabindex=5)=t('instance.form.create.submit')