header.app-header(headroom)
  #header-container
    a.logo(href='/')
      h1=config['organization name']
    h1#logo
      a(href='/')
        - var mobileLogo = !!config['logo mobile']
        - var classes = mobileLogo ? 'hidden-xs' : ''
        img(src=config['logo'], class=classes).logo-image
        - if (mobileLogo)
          img(src=config['logo mobile']).logo-image.visible-xs-inline-block

    .user-nav.btn-group
      .user
      a(href='/signin').login.pull-right.anonymous-user
        i.icon-signin
        span= t('header.login')
      a(href='/signup').login.pull-right.anonymous-user
        i.icon-user
        span= t('header.signup')
